.wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.item {
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    gap: 8px;
  }
}